img {
    height: 15%;
    width: 15%;
    position: relative;
    float: left;
    padding: .5% .5%;
    box-shadow:
        inset 5px 5px 10px #000000,
        inset -5px -5px 10px black;
}

p {
    font-size: 150%;
}

.card {
    display: table-row-group;
    box-shadow:
        inset 5px 5px 10px #000000,
        inset -5px -5px 10px black;
}