.img2{
    display: block;
    position: absolute;
    height: 40%;
    width: 20%;
}
.h1{
    position: absolute;
    color: black;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    font-size: 300%;
    left: 40%;
}
.allergy{
    color: black;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    position: absolute;
    top: 25%;
    left: 37%;
}
.ingre{
    color: black;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    position: absolute;
    top: 60%;
    left: 2%;
    
}
.rec{
    color: black;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 5%;
}